@model GoldChallenge.Models.CustomerPreference

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>CustomerPreference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdealSituation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdealSituation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPreference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPreference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffSizePreference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffSizePreference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MultipleLocations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultipleLocations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopThreePerfectBusinessOpportunity1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopThreePerfectBusinessOpportunity1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopThreePerfectBusinessOpportunity2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopThreePerfectBusinessOpportunity2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopThreePerfectBusinessOpportunity3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopThreePerfectBusinessOpportunity3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankTheseSkills1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankTheseSkills1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankTheseSkills2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankTheseSkills2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankTheseSkills3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankTheseSkills3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankTheseSkills4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankTheseSkills4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankTheseSkills5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankTheseSkills5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopThreeNonBusinessSkills1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopThreeNonBusinessSkills1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopThreeNonBusinessSkills2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopThreeNonBusinessSkills2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopThreeNonBusinessSkills3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopThreeNonBusinessSkills3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhatIsYourTimeFrame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhatIsYourTimeFrame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesSkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesSkillsExplanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesSkillsExplanation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColdCallingPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColdCallingPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColdCallingInPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColdCallingInPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectVsAdvertising)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectVsAdvertising)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhiteVsBlueColar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhiteVsBlueColar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishedVsNewConcept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishedVsNewConcept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallVsLargeFranchiseSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallVsLargeFranchiseSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompetitiveVsOnlyGameInTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompetitiveVsOnlyGameInTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrestigeOrNotImportant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrestigeOrNotImportant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessToBusinessVsBusinessToConsumer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessToBusinessVsBusinessToConsumer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursPreferenceMonFri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursPreferenceMonFri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursPreferenceNoNights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursPreferenceNoNights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursPreferenceNoSaturdays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursPreferenceNoSaturdays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursPreferenceNoSundays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursPreferenceNoSundays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursPreferenceNoPreference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursPreferenceNoPreference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnyMoreInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnyMoreInformation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
