@model IEnumerable<GoldChallenge.Models.CustomerPreference>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdealSituation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessPreference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffSizePreference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MultipleLocations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopThreePerfectBusinessOpportunity1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopThreePerfectBusinessOpportunity2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopThreePerfectBusinessOpportunity3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankTheseSkills1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankTheseSkills2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankTheseSkills3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankTheseSkills4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankTheseSkills5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopThreeNonBusinessSkills1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopThreeNonBusinessSkills2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopThreeNonBusinessSkills3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhatIsYourTimeFrame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesSkills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesSkillsExplanation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColdCallingPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColdCallingInPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectVsAdvertising)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhiteVsBlueColar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstablishedVsNewConcept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallVsLargeFranchiseSystem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompetitiveVsOnlyGameInTown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrestigeOrNotImportant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessToBusinessVsBusinessToConsumer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursPreferenceMonFri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursPreferenceNoNights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursPreferenceNoSaturdays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursPreferenceNoSundays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursPreferenceNoPreference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnyMoreInformation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdealSituation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessPreference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffSizePreference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MultipleLocations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopThreePerfectBusinessOpportunity1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopThreePerfectBusinessOpportunity2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopThreePerfectBusinessOpportunity3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RankTheseSkills1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RankTheseSkills2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RankTheseSkills3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RankTheseSkills4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RankTheseSkills5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopThreeNonBusinessSkills1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopThreeNonBusinessSkills2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopThreeNonBusinessSkills3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhatIsYourTimeFrame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesSkills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesSkillsExplanation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColdCallingPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColdCallingInPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectVsAdvertising)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhiteVsBlueColar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstablishedVsNewConcept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmallVsLargeFranchiseSystem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompetitiveVsOnlyGameInTown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrestigeOrNotImportant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessToBusinessVsBusinessToConsumer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursPreferenceMonFri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursPreferenceNoNights)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursPreferenceNoSaturdays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursPreferenceNoSundays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursPreferenceNoPreference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnyMoreInformation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID })
        </td>
    </tr>
}

</table>
